.page-header
  - if policy(Notebook).index?
    = link_to notebooks_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
  - if policy(Notebook).edit?
    = link_to edit_notebook_path(@notebook), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-pencil
      Edit
  - if policy(Notebook).destroy?
    = link_to notebook_path(@notebook), class: 'btn btn-danger', title: 'Delete Notebook',
               data: { confirm: "Are you sure you want to delete the notebook #{@notebook.name}?" }, method: :delete do
      %span.glyphicon.glyphicon-remove
      Delete

.col-md-12
  .box
    .box-header.with-border
      %h3.box-title
        = @notebook.name
      .box-tools.pull-right
        %h3.box-title.text-muted
          = @notebook.notes.count
          notes
        %button{class: 'btn btn-box-tool', 'data-widget' => 'collapse'}
          %i.fa.fa-minus
    .box-body.table-responsive.no-padding
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{rowspan: '1', colspan: '1'} Title
            %th{rowspan: '1', colspan: '1'} Content
            %th{rowspan: '1', colspan: '1', style: 'width: 133px; text-align: center;'} Actions

        %tbody
          - @notebook.notes.each do |note|
            %tr.gradeX
              %td= note.title
              %td= note.content
              %td
                .btn-group
                  .row
                    = link_item '<i class="fa fa-search"></i>'.html_safe, note_path(note), class: 'btn btn-xs btn-success grow',
                                title: 'Show'
                    = link_item '<i class="fa fa-edit"></i>'.html_safe, edit_note_path(note),
                                class: 'btn btn-xs btn-primary grow', title: 'Edit'
                    = link_item '<i class="fa fa-trash grow"></i>'.html_safe, note_path(note), data: { confirm: 'Are you sure?' },
                                method: :delete, title: 'Delete', class: 'btn btn-xs btn-danger grow'
    .box-footer.clearfix
      = custom_paginator(@notes)



