.box
  .box-header
    %h3.box-title
      = note.new_record? ? 'New Note' : 'Edit Note'

  .box-body.pad
    = form_for note, layout: :horizontal do |f|
      .form-group
        %label{class: 'col-sm-3 control-label', for: 'note_notebook'}
          Notebook
        .col-sm-9
          = f.collection_select(:notebook_id, policy_scope(Notebook.all), :id, :name, {prompt: 'Select notebook'},
                              {class: 'form-control'})
      = f.text_field :title
      = f.text_area :content, class: 'wysihtml5'
      = f.submit class: 'btn btn-primary'
