.page-header
  = link_to new_note_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Note

.box
  .box-header.with-border
    %h3.box-title
      Listing Notes
  .box-body.table-responsive.no-padding
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th{rowspan: '1', colspan: '1'} Title
          %th{rowspan: '1', colspan: '1'} Content
          %th{rowspan: '1', colspan: '1'} Notebook
          %th{rowspan: '1', colspan: '1', style: 'width: 133px; text-align: center;'} Actions

      %tbody
        - @notes.each do |note|
          %tr.gradeX
            %td= note.title
            %td= note.content
            %td= note.notebook_name
            %td
              .btn-group
                .row
                  = link_to '<i class="fa fa-search"></i>'.html_safe, note, class: 'btn btn-xs btn-success grow',
                              title: 'Show'
                  = link_to '<i class="fa fa-edit"></i>'.html_safe, edit_note_path(note),
                              class: 'btn btn-xs btn-primary grow', title: 'Edit'
                  = link_to '<i class="fa fa-trash grow"></i>'.html_safe, note, data: { confirm: 'Are you sure?' },
                              method: :delete, title: 'Delete', class: 'btn btn-xs btn-danger grow'
  .box-footer.clearfix
    = custom_paginator(@notes)
