.page-header
  = link_to notes_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_note_path(@note), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to note_path(@note), class: 'btn btn-danger', title: 'Delete Note',
              data: { confirm: "Are you sure you want to delete the note #{@note.title}?" }, method: :delete do
    %span.glyphicon.glyphicon-remove
    Delete

.col-md-12
  .box
    .box-header.with-border
      %h3.box-title
        = @note.title
    .box-body
      %p= simple_format(@note.content)

