%div{"aria-hidden" => "false", "data-backdrop" => "static", :tabindex => "-1",
      id: "#{task.name}", class: 'modal fade in'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-times
        %h4.modal-title
          = task.name
      .modal-body
        %h4 Description
        %p
          = task.description
        %h4 Deadline Date
        %p
          = task.deadline_date.to_formatted_s(:long)
        %h4 Complete
        %p
          = task.complete
        -unless task.course.blank?
          %h4 Course
          %p
            = task.course.name
        -unless task.notes.blank?
          %h4 Notes
          - task.notes.each do |note|
            %p
              = simple_format(note.content)
      .modal-footer
        = link_to edit_task_path(task), class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-pencil
          Edit
        = link_to task_path(task), class: 'btn btn-danger', title: 'Delete Task',
                    data: { confirm: "Are you sure you want to delete the task #{task.name}?" }, method: :delete do
          %span.glyphicon.glyphicon-remove
          Delete