- @title = 'Sign In'
.login-box
  .login-logo
    %a{href: "#"}
      %b UniNotas
  .login-box-body
    %p.login-box-msg
      Sign in
    = form_for resource, as: resource_name, url: session_path(resource_name), layout: :horizontal do |f|
      .has-feedback
        = f.email_field :email, autofocus: true
        %span.glyphicon.glyphicon-envelope.form-control-feedback
      .has-feedback
        = f.password_field :password, autocomplete: 'off'
        %span.glyphicon.glyphicon-lock.form-control-feedback

      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        = f.submit 'Sign in', class: 'btn btn-primary btn-block btn-flat'

    %p.text-right
      = render partial: 'devise/shared/links'
