.page-header
  - if policy(Role).new?
    = link_to new_role_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Role

.box
  .box-header.with-border
    %h3.box-title
      Listing Roles
  .box-body.table-responsive.no-padding
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th{rowspan: '1', colspan: '1'} Name
          %th{rowspan: '1', colspan: '1'} Key
          %th{rowspan: '1', colspan: '1'} Description
          %th{rowspan: '1', colspan: '1', style: 'width: 133px; text-align: center;'} Actions

      %tbody
        - @roles.each do |role|
          %tr.gradeX
            %td= role.name
            %td= role.key
            %td= role.description
            %td
              .btn-group
                .row
                  = link_item '<i class="fa fa-search"></i>'.html_safe, role_path(role), class: 'btn btn-xs btn-success grow',
                              title: 'Show'
                  = link_item '<i class="fa fa-edit"></i>'.html_safe, edit_role_path(role),
                              class: 'btn btn-xs btn-primary grow', title: 'Edit'
                  = link_item '<i class="fa fa-trash grow"></i>'.html_safe, role_path(role),
                              data: { confirm: "Are you sure you want to delete the role #{role.name}?" },
                              method: :delete, title: 'Delete Role', class: 'btn btn-xs btn-danger grow'
  .box-footer.clearfix
    = custom_paginator(@roles)
