!!! 5
%html.no-js
  = render 'head'

  %body{class: user_signed_in? ? 'hold-transition skin-blue sidebar-mini' : 'hold-transition register-page'}
    .wrapper
      - unless user_signed_in?
        = render 'flashes'
      - if user_signed_in?
        = render 'header'
        = render 'side_menu'
        = render 'content'
        = render 'footer'
      - else
        = yield
    -# Javascript at the bottom for fast page loading
    = render 'javascripts'
